body{
  background-image: url('landing.jpg');
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #E5E5E5;
}
/* FONT-STYLES */
h1, p{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.15em;
}
h1{
  font-weight: 900;
  font-size: 24px;
  
}
p{
  font-weight: normal;
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  h1{
    font-size: 48px;
  }
}